<div class="hero-unit">
<h1>Nowa Strona</h1>

<%= form_for(:strona, :url => {:action => 'utworz'}) do |pole| %>

   <%= render(:partial => "form", :locals => {:pole => pole}) %>

<div style="text-align: center;">
   <%= link_to("Powrót", {:action => 'index'}, :class => 'btn btn-warning')%>
   <%= submit_tag("Utwórz", :class => 'btn btn-primary') %>
</div>

<% end %>
</div>

