<div class="hero-unit">
   <h1>Pokaż Stronę</h1>
   <table class="table table-striped">
      <tr>
         <th>Kategoria:</th>
         <td><%= @strona.kategorie.nazwa %></td>
      </tr>
      <tr>
         <th>Nazwa</th>
         <td><%= @strona.nazwa %></td>
      </tr>
      <tr>
         <th>Pozycja</th>
         <td><%= @strona.pozycja %></td>
      </tr>
      <tr>
         <th>Czy jest widoczna?</th>
         <td><%= @strona.widoczna ? 'Tak' : 'Nie' %></td>
      </tr>
      <tr>
         <th>Utworzona:</th>
         <td><%= @strona.created_at %></td>
      </tr>
      <tr>
         <th>Aktualizacja:</th>
         <td><%= @strona.updated_at %></td>
      </tr>
   </table>

   <div style="text-align: center;">
      <%= link_to("Powrót", {:action => 'index'}, :class => 'btn btn-primary')%>
   </div>
</div>
