<!DOCTYPE html>
<html>
  <head>
    <title>Strefa</title>
    <%= stylesheet_link_tag('application', :media => 'all')%>
    <%= javascript_include_tag('application')%>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  
  <body>
  <div class="container">
   <% if !flash[:notice].blank? %>
      <div class="alert alert-success" style="text-align: center;">
         <%= flash[:notice] %>
      </div>
   <% end %>
    <%= yield %>
   </div>

   <div id="footer">
      <div class="container">
         <p class="text-muted">
            2018&copy; <a href="http://www.kategorie.pl" target="_blank">http://www.kategorie.pl</a>
         </p?
      </div>
   </div>
  </body>
</html>